/models/**/model.safetensors

/experiments/results/**/sparsified_models/sparsified_model_at_**/model.safetensors
/experiments/results/**/pruned_model/model.safetensors


/archive
/experiments/results/finetuned_models
