/models/**/**.safetensors

/experiments/results/**/sparsified_models/sparsified_model_at_**/**.safetensors
/experiments/results/**/pruned_model/**.safetensors
/experiments/results/**/pruned_model/**.safetensors


/archive
/experiments/results/finetuned_models
/experiments/results/**/finetuned_models/finetuned_pruned_model/checkpoint**
